
@font-face {
    font-family: 'Socialico';
    src: url(fonts/Socialico.otf) format('otf'),
         url(fonts/Socialico.ttf) format('ttf');
    src: local('Socialico'), local(Socialico),
         url(fonts/Socialico.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

a img { border: none; }

h1, h2, h3 { 
	font-family: 'Press Start 2P', cursive; 
	font-family: 'Codystar', cursive;
	font-family: 'Acme', sans-serif;
    text-transform: uppercase;
	}
h1 {    font-size: 2em; }
h2 {    font-size: 1.7em; }
h3 {    font-size: 1.5em; }
	

html, body {
	width:100%;
	font-family: 'Quando', serif;
	font-size: 14px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
	line-height: 23px;
	background: url('img/bg-pattern-black.png') repeat;
    text-align: center;
	}
body {
	overflow-x: hidden;
	overflow-y: scroll;
	}

div.layout {
    margin: 0;
    padding: 0;
}
body {
	overflow-x: hidden;
	overflow-y: scroll;
	}
div.layout {
    margin: 0;
    padding: 0;
}
.main {
	display: inline-block;
	position: static;
    margin: 0 auto;
    text-align: left;
}
.main a, .main  a:link, .main  a:active, .main  a:visited {
	color: #367e20;
	text-decoration: none; 
}
.main  a:hover, .main  a:focus { 
	text-decoration: underline; 
	color: #367e20;
	}
	
.content { 
    min-height: 400px;
}
input, select, textarea { 
	padding: 0.4em; 
	margin: 0.4em;
	
	}	

input[type=button], input[type=submit] { 
	background: #326a21;
	text-transform: uppercase;
	/*font-family: 'Acme',sans-serif;*/
	border-radius: 15px;
	color: #fff;
	border: none;
	}
input[type=text], input[type=password], textarea {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset;
}
input[type=button]:hover, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:focus { 
	background: #367e20;
	cursor: pointer;
	}

input[type=text]:hover, input[type=text]:focus, input[type=password]:hover, input[type=password]:focus, textarea:hover, textarea:focus {
	border: 1px solid #009600;
}


.swipe { 
    margin: 1em 0;     

    }
.swipe ul { padding: 0;}
.swipe li div { 
    padding: 1em;
    background: rgba(255,255,255,0.2); 
    border-radius: 8px;
}