@import url('https://fonts.googleapis.com/css2?family=Acme&family=Codystar:wght@300;400&family=Press+Start+2P&family=Quando&display=swap');

:root {
	--primary-color: #001c3a; 
	--secondary-color: #ff92f0; 
	--white: #fdfffe;
	--background-color: #d1e7ff;
  }

html, body {
	width:100%;
	font-size: 14px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    text-align: var(--text-color);
	color: var(--white);
	font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: var(--background-color);
}

div.layout {
    margin: 0;
    padding: 0;
}
.main{
	width: 100%;
	height: 100%;
    margin: 0 auto;
}
#canvas-container{
	width: 920px;
	height: 100dvh;
	margin: 0 auto;
	border: 3px solid rgb(0, 0, 0);
	background-color: var(--primary-color);
}

#canvas-overlay-container{
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-overlay-container-start, #canvas-overlay-countdown, #canvas-overlay-gameover {
	text-align: center;
}

.name-input, .level-input{
	line-height: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.name-input label, .name-input input, .level-input label, .level-input select {
      display: block;
}
input[type="text"], .level-input select, button{
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;
	color: var(--primary-color);
	background-color: var(--white);
	border: 1px solid var(--secondary-color);
	padding: 10px;
	border-radius: 4px;
	box-sizing: border-box;
	width: 200px;
}
input[type="text"]:focus{
	border-color: var(--primary-color);
	box-shadow: 0 0 5px var(--secondary-color);
}

.level-input > select option{
	color: var(--white);
	background-color: var(--secondary-color);
	line-height: 49px;
}
button{
	margin-top: 16px;
	color: var(--primary-color);
	background-color: var(--secondary-color);
	padding: 10px;
}
button:hover{
	color: var(--secondary-color);
	background-color: var(--primary-color);
}
#canvas-overlay-countdown{
	font-size: large;
	display: none;
}

.top-panel-container{
	padding: 12px;
	display: grid;
	grid-template-columns: repeat(3, 200px);
	gap: 20px;
	justify-content: center;
	display: none;
}

#canvas{
	position: relative;
	top: 5px;
	left: 9px;
	border: 1px var(--white) solid;
}

#canvas-overlay-gameover{
	font-size: xx-large;
	display: none;
	position: absolute;
}

